
# samples
samples/FallingBlocks/FallingBlocks.sdf
samples/FallingBlocks/FallingBlocks.sln.DotSettings
samples/FallingBlocks/FallingBlocks.suo
samples/FallingBlocks/FallingBlocks.v11.suo
samples/FallingBlocks/FallingBlocks.v12.suo
samples/FallingBlocks/FallingBlocks/Debug/
samples/FallingBlocks/FallingBlocks/FallingBlocks.vcxproj.user
samples/HelloWorldDisplay/HelloWorldDisplay.sdf
samples/HelloWorldDisplay/HelloWorldDisplay.v12.suo
samples/HelloWorldDisplay/HelloWorldDisplay/HelloWorldDisplay.vcxproj.user
samples/HelloWorldDisplay/HelloWorldDisplay/Simulator-Debug/


# user configuration files
src/VSNDK.opensdf
src/VSNDK.sdf
src/VSNDK.sln.DotSettings
src/VSNDK.sln.DotSettings.user
src/VSNDK.suo
src/GDBParser/GDBParser.vcxproj.user
src/GDBWrapper/GDBWrapper.vcxproj.user
src/VSNDK.AddIn/VSNDK.AddIn.csproj.user
src/VSNDK.DebugEngine/VSNDK.DebugEngine.csproj.user
src/VSNDK.Package/VSNDK.Package.csproj.user
src/VSNDK.Tasks/VSNDK.Tasks.csproj.user

src_vs2012/VSNDK.sdf
src_vs2012/VSNDK.opensdf
src_vs2012/VSNDK.sln.DotSettings
src_vs2012/VSNDK.v11.suo
src_vs2012/GDBParser/GDBParser.vcxproj.user
src_vs2012/GDBWrapper/GDBWrapper.vcxproj.user
src_vs2012/VSNDK.AddIn/VSNDK.AddIn.csproj.user
src_vs2012/VSNDK.DebugEngine/VSNDK.DebugEngine.csproj.user
src_vs2012/VSNDK.Package/VSNDK.Package.csproj.user
src_vs2012/VSNDK.Tasks/VSNDK.Tasks.csproj.user

src_vs2013/VSNDK.sdf
src_vs2013/VSNDK.opensdf
src_vs2013/VSNDK.sln.DotSettings
src_vs2013/VSNDK.v12.suo
src_vs2013/GDBParser/GDBParser.vcxproj.user
src_vs2013/VSNDK.AddIn/VSNDK.AddIn.csproj.user


# build temp outputs
src/Debug/
src/GDBParser.UnitTests/bin/
src/GDBParser.UnitTests/obj/
src/GDBParser/Debug/
src/GDBWrapper/Debug/
src/VSNDK.AddIn/bin/
src/VSNDK.AddIn/obj/
src/VSNDK.DebugEngine/bin/
src/VSNDK.DebugEngine/obj/
src/VSNDK.Package.Test/bin/
src/VSNDK.Package.Test/obj/
src/VSNDK.Package/bin/
src/VSNDK.Package/obj/
src/VSNDK.Tasks.Test/bin/
src/VSNDK.Tasks.Test/obj/
src/VSNDK.Tasks/bin/
src/VSNDK.Tasks/obj/

src_vs2012/Debug/
src_vs2012/GDBParser/Debug/
src_vs2012/GDBParser.UnitTests/bin/
src_vs2012/GDBParser.UnitTests/obj/
src_vs2012/GDBWrapper/Debug/
src_vs2012/ipch/
src_vs2012/VSNDK.AddIn/bin/
src_vs2012/VSNDK.AddIn/obj/
src_vs2012/VSNDK.DebugEngine/bin/
src_vs2012/VSNDK.DebugEngine/obj/
src_vs2012/VSNDK.Package.Test/bin/
src_vs2012/VSNDK.Package.Test/obj/
src_vs2012/VSNDK.Package/bin/
src_vs2012/VSNDK.Package/obj/
src_vs2012/VSNDK.Tasks.Test/bin/
src_vs2012/VSNDK.Tasks.Test/obj/
src_vs2012/VSNDK.Tasks/bin/
src_vs2012/VSNDK.Tasks/obj/

src_vs2013/Debug/
src_vs2013/GDBParser.UnitTests/bin/
src_vs2013/GDBParser.UnitTests/obj/
src_vs2013/GDBParser/Debug/
src_vs2013/GDBWrapper/Debug/
src_vs2013/VSNDK.AddIn/bin/
src_vs2013/VSNDK.AddIn/obj/
src_vs2013/VSNDK.DebugEngine/bin/
src_vs2013/VSNDK.DebugEngine/obj/
src_vs2013/VSNDK.Package.Test/bin/
src_vs2013/VSNDK.Package.Test/obj/
src_vs2013/VSNDK.Package/bin/
src_vs2013/VSNDK.Package/obj/
src_vs2013/VSNDK.Tasks.Test/bin/
src_vs2013/VSNDK.Tasks.Test/obj/
src_vs2013/VSNDK.Tasks/bin/
src_vs2013/VSNDK.Tasks/obj/


