
# samples
samples/FallingBlocks/FallingBlocks.sdf
samples/FallingBlocks/FallingBlocks.sln.DotSettings
samples/FallingBlocks/FallingBlocks.suo
samples/FallingBlocks/FallingBlocks.v11.suo
samples/FallingBlocks/FallingBlocks.v12.suo
samples/FallingBlocks/FallingBlocks/Debug/
samples/FallingBlocks/FallingBlocks/FallingBlocks.vcxproj.user
samples/HelloWorldDisplay/HelloWorldDisplay.sdf
samples/HelloWorldDisplay/HelloWorldDisplay.v12.suo
samples/HelloWorldDisplay/HelloWorldDisplay/HelloWorldDisplay.vcxproj.user
samples/HelloWorldDisplay/HelloWorldDisplay/Device-Debug/
samples/HelloWorldDisplay/HelloWorldDisplay/Simulator-Debug/

# user configuration files
src_vs2010/BlackBerry.NativePlugin.opensdf
src_vs2010/BlackBerry.NativePlugin.sdf
src_vs2010/BlackBerry.NativePlugin.sln.DotSettings
src_vs2010/BlackBerry.NativePlugin.sln.DotSettings.user
src_vs2010/BlackBerry.NativePlugin.suo
src_vs2010/GDBParser/GDBParser.vcxproj.user
src_vs2010/BuildTasks/BlackBerry.BuildTasks.csproj.user
src_vs2010/DebugEngine/BlackBerry.DebugEngine.csproj.user
src_vs2010/DebugEngine/BlackBerry.DebugEngine.csproj.DotSettings
src_vs2010/GDBHost/BlackBerry.GDBHost.vcxproj.user
src_vs2010/NativeCore/BlackBerry.NativeCore.csproj.user
src_vs2010/Package/BlackBerry.Package.csproj.user
src_vs2010/Tasks/BlackBerry.Tasks.csproj.user
src_vs2010/UnitTests/UnitTests.csproj.user

src_vs2012/BuildTasks/BlackBerry.BuildTasks.csproj.user
src_vs2012/BlackBerry.NativePlugin.sdf
src_vs2012/BlackBerry.NativePlugin.opensdf
src_vs2012/BlackBerry.NativePlugin.sln.DotSettings
src_vs2012/BlackBerry.NativePlugin.sln.DotSettings.user
src_vs2012/BlackBerry.NativePlugin.v11.suo
src_vs2012/GDBParser/GDBParser.vcxproj.user
src_vs2012/DebugEngine/BlackBerry.DebugEngine.csproj.user
src_vs2012/GDBHost/BlackBerry.GDBHost.vcxproj.user
src_vs2012/NativeCore/BlackBerry.NativeCore.csproj.user
src_vs2012/Package/BlackBerry.Package.csproj.user
src_vs2012/Package/BlackBerry.Package.csproj.DotSettings
src_vs2012/Tasks/BlackBerry.Tasks.csproj.user
src_vs2012/UnitTests/UnitTests.csproj.user

src_vs2013/BuildTasks/BlackBerry.BuildTasks.csproj.user
src_vs2013/BlackBerry.NativePlugin.sdf
src_vs2013/BlackBerry.NativePlugin.opensdf
src_vs2013/BlackBerry.NativePlugin.sln.DotSettings
src_vs2013/BlackBerry.NativePlugin.sln.DotSettings.user
src_vs2013/BlackBerry.NativePlugin.v12.suo
src_vs2013/DebugEngine/BlackBerry.DebugEngine.csproj.user
src_vs2013/GDBHost/BlackBerry.GDBHost.vcxproj.user
src_vs2013/NativeCore/BlackBerry.NativeCore.csproj.user
src_vs2013/Package/BlackBerry.Package.csproj.user
src_vs2013/Tasks/BlackBerry.Tasks.csproj.user
src_vs2013/UnitTests/UnitTests.csproj.user


# build temp outputs
_BuildResults/
BuildResults/
src_vs2010/Debug/
src_vs2010/Release/
src_vs2010/GDBParser.UnitTests/bin/
src_vs2010/GDBParser.UnitTests/obj/
src_vs2010/GDBParser/Debug/
src_vs2010/GDBParser/Release/
src_vs2010/ipch/
src_vs2010/BuildTasks/bin/
src_vs2010/BuildTasks/obj/
src_vs2010/DebugEngine/bin/
src_vs2010/DebugEngine/obj/
src_vs2010/GDBHost/Debug/
src_vs2010/GDBHost/Release/
src_vs2010/NativeCore/bin/
src_vs2010/NativeCore/obj/
src_vs2010/Package/bin/
src_vs2010/Package/obj/
src_vs2010/UnitTests/bin/
src_vs2010/UnitTests/obj/

src_vs2012/Debug/
src_vs2012/Release/
src_vs2012/GDBParser/Debug/
src_vs2012/GDBParser/Release/
src_vs2012/GDBParser.UnitTests/bin/
src_vs2012/GDBParser.UnitTests/obj/
src_vs2012/ipch/
src_vs2012/BuildTasks/bin/
src_vs2012/BuildTasks/obj/
src_vs2012/DebugEngine/bin/
src_vs2012/DebugEngine/obj/
src_vs2012/GDBHost/Debug/
src_vs2012/GDBHost/Release/
src_vs2012/NativeCore/bin/
src_vs2012/NativeCore/obj/
src_vs2012/Package/bin/
src_vs2012/Package/obj/
src_vs2012/UnitTests/bin/
src_vs2012/UnitTests/obj/

src_vs2013/Debug/
src_vs2013/Release/
src_vs2013/GDBParser.UnitTests/bin/
src_vs2013/GDBParser.UnitTests/obj/
src_vs2013/GDBParser/Debug/
src_vs2013/GDBParser/Release/
src_vs2013/ipch/
src_vs2013/BuildTasks/bin/
src_vs2013/BuildTasks/obj/
src_vs2013/DebugEngine/bin/
src_vs2013/DebugEngine/obj/
src_vs2013/GDBHost/Debug/
src_vs2013/GDBHost/Release/
src_vs2013/NativeCore/bin/
src_vs2013/NativeCore/obj/
src_vs2013/Package/bin/
src_vs2013/Package/obj/
src_vs2013/UnitTests/bin/
src_vs2013/UnitTests/obj/


