
# samples
samples/FallingBlocks/FallingBlocks.sdf
samples/FallingBlocks/FallingBlocks.sln.DotSettings
samples/FallingBlocks/FallingBlocks.suo
samples/FallingBlocks/FallingBlocks.v11.suo
samples/FallingBlocks/FallingBlocks.v12.suo
samples/FallingBlocks/FallingBlocks/Debug/
samples/HelloWorldDisplay/HelloWorldDisplay.sdf
samples/HelloWorldDisplay/HelloWorldDisplay.v12.suo
samples/HelloWorldDisplay/HelloWorldDisplay/Simulator-Debug/


# user configuration files
src_vs2012/VSNDK.sdf
src_vs2012/VSNDK.sln.DotSettings
src_vs2012/VSNDK.v11.suo

src_vs2013/VSNDK.sdf
src_vs2013/VSNDK.sln.DotSettings
src_vs2013/VSNDK.v12.suo


# build temp outputs
src_vs2012/Debug/
src_vs2012/GDBParser/Debug/
src_vs2012/GDBParser.UnitTests/obj/
src_vs2012/GDBWrapper/Debug/
src_vs2012/VSNDK.AddIn/bin/
src_vs2012/VSNDK.AddIn/obj/
src_vs2012/VSNDK.DebugEngine/bin/
src_vs2012/VSNDK.DebugEngine/obj/
src_vs2012/VSNDK.Package.Test/bin/
src_vs2012/VSNDK.Package.Test/obj/
src_vs2012/VSNDK.Package/bin/
src_vs2012/VSNDK.Package/obj/
src_vs2012/VSNDK.Tasks.Test/bin/
src_vs2012/VSNDK.Tasks.Test/obj/
src_vs2012/VSNDK.Tasks/bin/
src_vs2012/VSNDK.Tasks/obj/

src_vs2013/Debug/
src_vs2013/GDBParser.UnitTests/bin/
src_vs2013/GDBParser.UnitTests/obj/
src_vs2013/GDBParser/Debug/
src_vs2013/GDBWrapper/Debug/
src_vs2013/VSNDK.AddIn/bin/
src_vs2013/VSNDK.AddIn/obj/
src_vs2013/VSNDK.DebugEngine/bin/
src_vs2013/VSNDK.DebugEngine/obj/
src_vs2013/VSNDK.Package.Test/bin/
src_vs2013/VSNDK.Package.Test/obj/
src_vs2013/VSNDK.Package/bin/
src_vs2013/VSNDK.Package/obj/
src_vs2013/VSNDK.Tasks.Test/bin/
src_vs2013/VSNDK.Tasks.Test/obj/
src_vs2013/VSNDK.Tasks/bin/
src_vs2013/VSNDK.Tasks/obj/


